pandas
langchain
numpy
langchain_experimental
langchain_openai
tabulate
pydantic
logfire
requests
ipykernel
python-dotenv
openai
streamlit
pyodbc
google-auth-httplib2
google-auth-oauthlib
google-api-python-client
beautifulsoup4
duckduckgo-search
phidata
